<?xml version="1.0" encoding="utf-8"?>
<!--
 * This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*
* @author xphnx
* @version 0.2
*
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.twelf.cmtheme">

    <uses-feature android:required="true" android:name="org.cyanogenmod.theme" />

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="@string/theme_name"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="@string/theme_author" />

    <application android:hasCode="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/theme_name"/>

</manifest>
